{% extends "base.html" %}

{% block content %}

<h2>Signup</h2>

<form action="/welcome" method="post">
    
    <p>
    <label>
        Username:
        <input type="text" name="username" value="{{request.form['username']}}"/>
    </label>
    {% if username_error %}
    <span class='error'>{{ username_error }}</span>
    {% endif %}
    </p>

    <p>
    <label>
        Password:
        <input type="password" name="password"/>
    </label>
    {% if password_error %}
    <span class='error'>{{ password_error }}</span>
    {% endif %}
    </p>

    <p>
    <label>
        Verify Password:
        <input type="password" name="verified_password"/>
    </label>
    {% if verify_error %}
    <span class='error'>{{ verify_error }}</span>
    {% endif %}
    </p>

    <p>
    <label>
        Email (optional):
        <input type="text" name="email" value="{{request.form['email']}}"/>
    </label>
    {% if email_error %}
    <span class='error'>{{ email_error }}</span>
    {% endif %}
    </p>

    <input type="submit" value="Submit"/>
</form>

{% endblock %}

